.home-container {
  padding: 10px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: #00285f;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}
.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-content-container h2 {
  width: 251px;
  font-size: 21px;
  color: #fff;
  font-weight: 700;
}
.home-content-container p {
  width: 251px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  padding-top: 10px;
}
.home-image-container {
  padding: 62px 28px 40px 28px;
}
.image-png {
  width: 100%;
  }

.catalago-container {
  background-color: #ededed;
  padding: 28px 63px 35px 50px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-button-text h1 {  font-size: 18px;
  font-weight: 400;
  color: #585858;
  padding-top: 5px;
}

@media (min-width: 576px) {
  .image-png {
    width: 333px;
  }

  .home-content-container h2 {
    font-size: 36px;
    width: 420px;
  }
  .home-content-container p {
    font-size: 18px;
    width: 420px;
  }

  .catalago-container {
    flex-direction: row;
    justify-content: center;
  }
  .container-button-text h1 {
    font-size: 21px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .catalago-container {
    justify-content: left;
  }
}
@media (min-width: 992px) {
  .image-png {
    width: 455px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    padding: 30px 150px;
    text-align: center;
   }
  .image-png {
    width: 333px;
  }

  .home-card {
    flex-direction: row;
  }
  .home-content-container{
    padding-top: 110px ;
    text-align: left;
    width: 560px;
    
  }
}
