.card-car{
  padding: 30px 10px 0px;
}

.card-img{
  width: 100%;
}

.text-card h1{
  font-size: 18px;
  font-weight: 700px;
  text-align: center;
}
.text-card h2{
  font-size: 14px;
  font-weight: 400px;
  font-style: italic;
  padding: 14px 14px 38px 22px;
  margin: none;
  }
  .btn-card{
    display: flex;
    justify-content: center;
    padding: 0 22px 15px 20.07px;
  }
  .content-card {
    background-color: #00285f;
    color: #ffffff;
    border-radius: 5px;
    width: 257.93px;
    height: 40px;
    font-weight: 400px;
    padding-top: 5px;
  }
.content-card {
  background-color: #00285f;
  color: #ffffff;
  border-radius: 5px;
  width: 257.93px;
  height: 40px;
  font-weight: 400px;
  padding-top: 5px;
}

